@meta charset="UTF-8"
body, h1, h2, h3, h4, h5, h6, p, div, ul, li {
  margin: 0;
  padding: 0;
}
body {
  font-famliy: Verdana, geneva, sans-serif;
  background-color: black;
}
#logo {
	margin:0 auto;
	width: 700px;
	text-aligin: center;
}
#nazwa {
  width: 10%;
  background: Url(http://i42.tinypic.com/zya743.jpg);
  text-aligin: center;
}
