@meta charset="UTF-8"
body, h1, h2, h3, h4, h5, h6, p, div, ul, li {
  margin: 0;
  padding: 0;
}
body {
  font-famliy: Verdana, geneva, sans-serif;
  background-color: black;
}
#logo {
	margin:0 auto;
	width: 700px;
	
}
#nazwa {
  width: 700px;
  background: Url(https://cdn.pixabay.com/photo/2017/06/04/16/31/stars-2371478__340.jpg);
  text-align: center;
}
