@meta charset="UTF-8"
body, h1, h2, h3, h4, h5, h6, p, div, ul, li {
  margin: 0;
  padding: 0;
}
body {
  font-famliy: Verdana, geneva, sans-serif;
  background-color: black;
}
#logo {
	margin:0 auto;
	width: 700px;
}
#nazwa {
  width: 700px;
  background: Url(http://1.bp.blogspot.com/-s2t3K-EDSMk/TwbI8b9EooI/AAAAAAAAA0w/_rhUbDjQ-WI/s1600/tlo0001aab.jpg);
  text-aligin: center;
}
