@meta charset="UTF-8"
body, h1, h2, h3, h4, h5, h6, p, div, ul, li {
  margin: 0;
  padding: 0;
}
body {
  font-famliy: Verdana, geneva, sans-serif;
  background-color: black;
}
#logo {
	margin:0 auto;
	width: 700px;
}
#nazwa {
  width: 700px;
  background: Url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyHR9y7bv_-mL1o9ndgNF0UAtPQiI9dH_4X_14i41UXFhiJq2Y);
  text-aligin: center;
}
