@meta charset="UTF-8"
body, h1, h2, h3, h4, h5, h6, p, div, ul, li {
  margin: 0;
  padding: 0;
}
body {
  font-famliy: Verdana, geneva, sans-serif;
  background-color: black;
}
#logo {
	margin:0px auto;
	width: 700px;
	
}
#nazwa {
  width: 700px;
  background: Url(https://cdn.pixabay.com/photo/2017/06/04/16/31/stars-2371478__340.jpg);
  text-align: center;
}
#nazwa img {
	padding-top: 20px;
	padding-bottom: 20px
}
#line{
	width:700px;
	background: #999;
	height: 1px;
}
#links {
	width:700px;
	background: #666;
}
#navi {
	width: 700px;
	background: #666;
	height: 36px;
	margin: 0 auto;
}
#navi ul {
	list-style-type: none;
}
#navi ul li {
	float: left;
}
#navi ul li a {
	display: block;
	height: 20px;
	line-height:20px;
	background: #000;
	width: 80px;
	font-width: bold;
	font-size: 0,8em;
	color: #fff;
	text-align: center;
	text-decoration: none; 
	margin: 7px;
	border-radius: 5px;
	border: 1px solid #000;
}
	
	
